{% extends "adminpages/adminbase.html" %}
{% load humanize %}
{% block title %}
    orderdetail
{% endblock title %}

{% block content %}

<div class="row">
	<div class="col-md-8 mx-auto">
		<h3>Order detail</h3>
    			    	<p><span class="font-weight-bold">Order ID:</span> #Order:{{ord_obj.id}} </p>
    			    	<p><span class="font-weight-bold">Status:</span> {{ord_obj.order_status}} </p>
    			    	<p><span class="font-weight-bold">Order on:</span> {{ord_obj.created_at}} <small>
    			    		{{ord_obj.created_at|timesince }}
    			    	</small>  </p>
    			    	<p><span class="font-weight-bold">Customer Information:</span> By: {{ord_obj.ordered_by}}
    			    	{{ord_obj.mobile}} </p>
    			    	<p><span class="font-weight-bold">Shipping Address:</span> By: {{ord_obj.shipping_address}}
    			    	{{ord_obj.email}} </p>

    			<h4>Ordered item</h4>
    			<table class="table">
    				<thead>
    					<tr>
    						<th>SN</th>
    						<th>Item</th>
    						<th>Rate</th>
    						<th>Quantity</th>
    						<th>Subtotal</th>
    					</tr>
    				</thead>
    				<tbody>
    					{% for cp in ord_obj.cart.cartproduct_set.all %}
    						<tr>
    							<td> {{forloop.counter}} </td>
    							<td> <a target="_blank" href=" {% url "ecommerceapp:productdetail" cp.product.slug %} ">{{cp.product.title}} ({{cp.product.id}}) </a> </td>
    							<td>{{ cp.rate }}</td>
    							<td> {{cp.quantity}} </td>
    							<td> {{cp.subtotal}} </td>

    						</tr>

    					{% endfor %}
    					<tr> 
    						<th colspan="4" class="text-right"> Total </th>
    						<th> {{ord_obj.total|intcomma}} FCFA </th>
    					</tr>
    				</tbody>
    			</table>
                <form action="{% url "ecommerceapp:adminorderchange" ord_obj.id %} " method="post">
                    {% csrf_token %}
                    <select name="status">
                        {% for i, j in allstatus %}
                            <option value=" {{i}}" {% if i == ord_obj.order_status %} selected
                            {% endif %}> {{j}} </option>
                        {% endfor %}
                    </select>
                    <button class="btn btn-secondary">Update Status</button>
                </form>
	</div>
</div>
{% endblock content %}