{% extends "adminpages/adminbase.html" %}
{% load humanize %}
{% block title %}
Order list
{% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>All Orders</h3>
            <hr>
            <table class="table">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Order ID</th>
                        <th>Customer</th>
                        <th>Ordered in</th>
                        <th>Amount</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in allorders %}
                    <tr>
                        <th> {{ forloop.counter }} </th>
                        <th> <a href=" {% url "ecommerceapp:adminorderdetail" order.id %}">#Order:{{ order.id }} </a>
                        </th>
                        <th> {{ order.ordered_by }} </th>
                        <th> {{ order.created_at }} </th>
                        <th> {{ order.total }} </th>
                        <td> {{ order.order_status }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}