<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
        {% block ogmeta %}{% endblock ogmeta %}
    <link rel="stylesheet" href="{% static 'dist/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'dist/css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>{% block title %} {% endblock %}</title>
    <style>
      #hint_id_username,
      #hint_id_password1,
      #hint_id_new_password1,
      #hint_id_password2 {
        display: none;
      }

      a:link {
        text-decoration: none;
        color: black;
      }

      a:visited {
        color: black;
      }
      img {
        width: 500px;
        height: 500px;
      }
      /* .card-horizontal {
  display: flex;
  flex: 1 1 auto;
} */
    </style>
  </head>

  <nav class="navbar navbar-expand-lg navbar-light bg-transparent" style="position:sticky">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'review:index' %}">TanoClass</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a href="{% url 'review:index' %}" class='nav-link'>Home</a>
            </li>
            <li class="nav-item active">
              <a href="{% url 'review:index' %}" class='nav-link'>All </a>
            </li>
            <li class="nav-item active">
              <a href="{% url 'review:index' %}" class='nav-link'>About</a>
            </li>
            <li class="nav-item active">
              <a href="{% url 'review:contact' %}" class='nav-link'>Contact</a>
            </li>
            

          </ul>
        </div>

      </div>
    </nav>
  <body>
    {% block header %} {% endblock header %}
    {% block content %} {% endblock %}
    <!-- Footer-->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; parksontano.com 2022</p>
  </div>
</footer>
    <script src="{% static 'dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'scripts.js' %}"></script>
    <script src="{% static 'js/form-validation.js' %}"></script>
  </body>
</html>
