<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="{% static 'dist/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'dist/css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <title>{% block title %} {% endblock %}</title>
    <style>
      #hint_id_username,
      #hint_id_password1,
      #hint_id_new_password1,
      #hint_id_password2 {
        display: none;
      }

      a:link {
        text-decoration: none;
        color: black;
      }

      a:visited {
        color: black;
      }
      img {
        width: 500px;
        height: 500px;
      }
    </style>
  </head>

  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="{% url 'review:index' %}">Navbar</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a href="{% url 'review:index' %}" class='nav-link'>All</a>
            </li>
            {% for cat in category %}
            <li class="nav-item active">
              <a
                class="nav-link"
                href="{% url 'review:filter_category' cat.pk %}"
                aria-current="page"
                >{{cat.name}}</a>
              
            </li>
            {% endfor %}

          </ul>
          <form action="" method=" GET" class="d-flex">
            {% csrf_token %}
            <input
              class="form-control mr-sm-2 mr-auto"
              type="text"
              name="keyword"
              placeholder="Search Product"
              required
            />
            <button class="btn btn-primary">Search</button>
          </form>
        </div>

      </div>
    </nav> -->
  <body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-sm-dark" id="mainNav" style="position: fixed;">
      <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{% url 'review:index'%}"
          >DaniRev</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto py-4 py-lg-0">
            <li class="nav-item">
              <a
                class="nav-link px-lg-3 py-3 py-lg-4"
                href="{% url 'review:index'%}"
                >Home</a
              >
            </li>
            {% for cat in category %}
            <li class="nav-item active">
              <a
                class="nav-link px-lg-3 py-3 py-lg-4"
                href="{% url 'review:filter_category' cat.pk %}"
                aria-current="page"
                >{{cat.name}}</a
              >
              {% endfor %}
            </li>
          </ul>

          <form action="" method=" GET" class="d-flex">
            {% csrf_token %}
            <input
              class="form-control mr-sm-2 mr-auto"
              type="text"
              name="keyword"
              placeholder="Search"
              required
            />
            <button class="btn btn-primary">Search</button>
          </form>
        </div>
      </div>
    </nav>
    <!-- Page Header-->
    <!-- Main Content-->
    {% block header %} {% endblock header %}
    <div class="container-fluid px-4 px-lg-5">{% block content %} {% endblock %}</div>
    <script src="{% static 'dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'scripts.js' %}"></script>
  </body>
</html>
