{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
{{post.slug}}
{% endblock title %}
{% block header %}
<header class="masthead" style="background-image: url({{post.image_1.url}})">
  <div class="container position-relative px-4 px-lg-5"></div>
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-12">
        <div class="site-heading">
          <h1>{{post.title}}</h1>
          <span class="subheading">{{post.excerpt}}</span>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock header %}
{% block content %}
<!-- Page content-->
<div>
  <div class="row mt-4">
    <!-- Blog entries-->
    <div class="col-lg-8">
      <!-- Featured blog post-->
      <div class="card mb-4 col-sm-12">
        <div class="card-body">

          <p class="card-text">{{post.content|safe}}</p>

        </div>
      </div>
      <!-- Nested row for non-featured blog posts-->
      <div class="row">
        <div class="col-lg-8">
          <!-- Blog post-->
          <h2>Leave your comment!</h2>
          <div id="comments_section">
            <form method="POST">
              {% csrf_token %}
              <div class="form-group">
                {{ comment_form|crispy }}
                <button class="btn btn-info" type="submit">Add comment <i class="fas fa-comments"></i></button>
              </div>
            </form>

            {% if comments %}
            <strong class="text-secondary">{{ post.comment_set.all.count }}
              Comment{{ post.comment_set.all.count|pluralize }}</strong>
            <hr>
            <ul>
              {% for comment in comments %}
              <li>
                <div>
                  <span>
                    <strong class="text-info">{{ comment.name }} </strong>
                    <small class="text-muted">{{ comment.date_created }}</small>
                  </span>
                  <p>
                    {{ comment.content|safe }}
                  </p>
                </div>
              </li>
              {% endfor %}
            </ul>
            {% else %}
            <strong class="text-secondary">No comments yet...</strong>
            {% endif %}

          </div>
        </div>


        <!-- Blog post-->
      </div>
      <!-- Pagination-->
    </div>
    <!-- Side widgets-->
    <div class="col-lg-4">
      <!-- Search widget-->
      <div class="card mb-4">
        <div class="card-header">Search</div>
        <div class="card-body">

          <form action="{% url 'review:search' %}" method="GET">
            <div class="input-group">
              {% csrf_token %}
              <input class="form-control" type="text" placeholder="Enter search term..."
                aria-label="Enter search term..." aria-describedby="button-search" name='keyword' />
              <button class="btn btn-primary">Go!</button>
            </div>
          </form>
        </div>
      </div>
    <!-- Categories widget-->
    <div class="card mb-4">
      <div class="card-header">Categories</div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6 col-lg-12">
            <ul class="list-unstyled mb-0">
              {% for cat in all_categories %}
              <li class="mb-2"><a href="{% url 'review:filter_category' cat.slug %}">
                  <strong>
                    {{cat.name}}
                  </strong>
                </a>
                <ul>
                  {% for sub in cat.subcategory_set.all %}
                  <li>
                    <a href="{% url 'review:filter_subcategory' sub.slug %}">
                      {{sub.name}}
                    </a>
                  </li>
                  {% endfor %}
                </ul>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Side widget-->
    <div class="card mb-4">
      <div class="card-header">Recent Post</div>
      <div class="card-body">
        {% for p in recent_post %}
        <div class="post-preview">
          <a href="{% url 'review:postdetail' p.slug %}">
            <h2 class="post-title">{{p.title}}</h2>
            <h3 class="post-subtitle">{{p.excerpt}}</h3>
          </a>
          <p class="post-meta">
            Posted by
            <a href="#!">{{p.author}}</a>
            on {{p.date_created|timesince}}
          </p>

        </div>
        <!-- Divider-->
        <hr class="my-4" />
        {% endfor %}
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
<!-- Footer-->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p>
  </div>
</footer>

{% endblock content%}