{% extends "base.html" %}
{% load static %}
{% block title %}
{{post.slug}}
{% endblock title %}
{% block header %}
<header class="masthead" style="background-image: url({{post.image_1.url}})">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>{{post.title}}</h1>
          <span class="subheading">{{post.excerpt}}</span>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock header %}
{% block content %}
<article class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          {{post.content}}
        </p>
        <h2 class="section-heading">
          {{post.sub_title_1}}
        </h2>
        <p>
            {{post.sub_content_1}}
        </p>
        {% if post.image_3 != null %}
          <a href="#!"><img class="img-fluid" 
          src="{{post.image_3.url}}" alt="..." /></a>
          {% else %} 
          <p></p>
        {% endif %}

        
      </div>
    </div>
  </div>
</article>
{% endblock content %}